p {
    color: aqua;
}

p {
    height: 100px;
    margin-bottom: 10px;
    width: 300px;
    background-color: aliceblue;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    font-size: 36px;
    padding: 13px;
    background-color: violet;

}

li:hover {
    background-color: red;
    cursor: pointer;
}

.numbers {
    background-color: blue;
    margin-top: 20px;
    width: 240px;
}

.numbers > li:nth-child(-n+5) {
    margin-bottom: 10px;
   
}